spring:
  application:
    name: gateway-locator
  cloud:
    consul:
      discovery:
        enabled: true
    gateway:
      discovery:
        locator:
          enabled: true

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health, routes
logging:
  level:
    de.afrouper.gateway: debug
